/* src\app\globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 23, 27, 38;
  --dark-blue-rgb: 28, 54, 89;
  --blue-rgb: 7, 152, 242;
  --yellow-rgb: 242, 200, 121;
  --dark-yellow-rgb: 217, 196, 156;
  --purple-rgb: 151, 30, 193;
  --gradient-cyan-end: 7, 152, 242;
  --gradient-cyan-start: 0, 255, 255;
  --text-rgb: 211, 211, 211;
  --text-title-rgb: 248, 248, 255;
  --text-muted: 169, 169, 169;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--text-title-rgb));
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 48px;
  width: 100%;
}

.card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px rgb(var(--dark-blue-rgb)) solid;
  border-radius: 15px;
  padding: 18px;
  width: 100%;
  background: rgba(var(--gradient-cyan-end), 0.1);
  background: linear-gradient(
    30deg,
    rgba(var(--gradient-cyan-end), 0.15) 0%,
    rgba(var(--purple-rgb), 0.1) 35%,
    rgba(var(--gradient-cyan-end), 0.1) 77%
  );
  backdrop-filter: blur(6px);
  /* filter: drop-shadow(0px 0px 10px rgba(179, 179, 179, 0.453)); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 100%;
  background: rgba(var(--gradient-cyan-end), 0.1);
  background: linear-gradient(
    30deg,
    rgba(var(--gradient-cyan-end), 0.15) 0%,
    rgba(var(--purple-rgb), 0.1) 35%,
    rgba(var(--gradient-cyan-end), 0.1) 77%
  );
  border: 1px rgb(var(--dark-blue-rgb)) solid;
  border-radius: 15px;
  padding: 5px;
  filter: blur(6px);
  backdrop-filter: blur(6px);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.958));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card-project-figcaption {
  width: 100%;
  padding: 5px 15px 5px 15px;
  position: absolute;
  bottom: 0;
  backdrop-filter: contrast(20%) blur(2px);
  box-shadow: 0px 0px 5px rgba(132, 132, 132, 0.59);
}

.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background: rgba(var(--gradient-cyan-end), 0.1);
  background: linear-gradient(
    30deg,
    rgba(var(--gradient-cyan-end), 0.15) 0%,
    rgba(var(--purple-rgb), 0.1) 35%,
    rgba(var(--gradient-cyan-end), 0.1) 77%
  );
  border: 1px rgb(var(--dark-blue-rgb)) solid;
  border-radius: 15px;
  padding: 15px 0px 15px 0;
  filter: blur(6px);
  backdrop-filter: blur(6px);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.958));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.form-gradient {
  background: rgba(var(--blue-rgb), 0.1);
  background: linear-gradient(
    155deg,
    rgba(var(--blue-rgb), 0.3) 10%,
    rgba(var(--blue-rgb), 0.1) 65%,
    rgba(var(--dark-blue-rgb), 0.1) 92%,
    rgba(var(--blue-rgb), 0.2)
  );
  box-shadow: 0px 0px 6px 1px rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(6px);
}

input:checked + label {
  border-color: rgba(255, 255, 255, 0.808);
  outline: auto;
  transition: all 0.2s ease;
  color: white;
  background: rgba(var(--blue-rgb), 0.1);
  background: linear-gradient(
    140deg,
    rgba(var(--blue-rgb), 0.3) 10%,
    rgba(var(--blue-rgb), 0.1) 65%,
    rgba(var(--dark-blue-rgb), 0.1) 92%
  );
  box-shadow: 0px 0px 6px 1px rgba(33, 33, 33, 0.5);
}

.header-link {
  background: rgba(var(--blue-rgb), 0.1);
  background: linear-gradient(
    155deg,
    rgba(var(--blue-rgb), 0.3) 10%,
    rgba(var(--blue-rgb), 0.1) 65%,
    rgba(var(--dark-blue-rgb), 0.1) 92%,
    rgba(var(--blue-rgb), 0.2)
  );
  box-shadow: 0px 0px 6px 1px rgba(33, 33, 33, 0.5);
  border: 2px rgb(var(--dark-blue-rgb)) solid;
  border-radius: 9px;

}

.menu-item {
  display: flex;
  width: fit-content;
  padding: 1.5px 8px;
  border-radius: 0.5rem;
  background-color: rgba(var(--blue-rgb), 0.65);
  transition: all 0.3s;
  color: white;
  border: 1px solid transparent;
}

.menu-item:hover {

  background-color: rgba(var(--dark-blue-rgb), 0.8);
  border: 1px solid rgba(var(--blue-rgb), 0.65);
}

.menu-link {
  display: flex;
  text-decoration: none;
  padding: 0.5rem;
}



@media (min-width: 768px) {
  .card-project {
    width: 47%;
  }
}

@keyframes fillSvgAnimation {
  0% {
    fill: transparent;
  }
  100% {
    fill: currentColor;
  }
}

@keyframes strokeSvgAnimation {
  0% {
    stroke: black;
  }
  100% {
    stroke: currentColor;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
